# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Files
.idea/
*.sublime-workspace
*.sublime-project

# Environment & Config Overrides
.env
.env.local
*.log

# Temporary and Cache files
*.tmp
*.bak
